__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
venv/
env/

.env
.env.*
!.env.example

.DS_Store

.pytest_cache/
.mypy_cache/
.ruff_cache/
.docker-config/

instance/
flask_session/
docker-data/
infra/mta-sts/.well-known/mta-sts.txt
infra/mailserver/config/*
!infra/mailserver/config/postfix-main.cf
